header {
  color: white;
  font-size: 50px;
  width: 50%;
/*}
.header-list {
  font-size: 200%;*/
}
nav {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: left;
  display: list-item;
  margin-top: 300px;
}
body {
  background-color: gray;
}
footer {
  text-decoration: none;
  color: white;
  font-size: 25px;
  text-align: center;
  }

.circles {

  float: right;
  width: 30%;
}

/*Nice job with these circles! They look really cool!*/
#cir1 {
  width: 350px;
	height: 350px;
	background: blue;
	border-radius: 300px;
  /*absolute positioning may help you fine-tune position of individual circles relative to the entire document? - Taylor*/
  margin-top: 240px;
  left: 500px;
  position: absolute;
}
#cir2 {
  width: 180px;
	height: 180px;
	background: red;
	border-radius: 100px;
  margin-left: -300px;
  margin-top: 40px;
  position: absolute;
}
#cir3 {
  width: 350px;
	height: 350px;
	background: yellow;
	border-radius: 2500px;
  margin-bottom: 250px;
  position: absolute;
}
#cir4 {
  width: 150px;
	height: 150px;
	background: orange;
	border-radius: 100px;
  margin-left: 70px;
  margin-bottom: 100px;
  margin-top: 400px;
  position: absolute;
}
